@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
 --bg-color: #427D9D;
 --primary-color: #164863;
 --secondary-color: #DDF2FD;
 --font: "Nunito", sans-serif;
}